<%= form_for(@tweet) do |f| %>

<div class="form-group">
<%= f.text_area :content, class: "form-control", placeholder: "（本文は140字以内で投稿）" %>
<%= f.hidden_field :user_id, value: current_user.id %>
 <div class="text-right">
 <%= f.submit "投稿", class: "btn btn-primary" %>
 </div>

<% end %>
 </div>

<div class="row">
  <div class="col-lg-12">
    <% @tweets.each do |tweet| %>
      <div class="media">
        <div class="media-left">
           <%= image_tag tweet.user.image, class: 'media-object', width: 64 %>
        </div>
        <div class="media-body">
        <%= tweet.user.name %>
        <%= link_to "#{@time}", tweet %>
        <% @time = tweet.created_at.strftime('(%Y/%m/%d %H:%M)') %>
        <p class="text-muted">
          <%= tweet.content %>
          </p>
        </div>
      </div>
    <% end %>
  </div>
</div>

<%= paginate @tweets %>











