<div class="row">
  <div class="col-lg-12">
   <div style="border-style: solid; border-width: 1px;">
      <div class="media">
        <div class="media-left">
           <%= image_tag @tweet.user.image, class: 'media-object', width: 64 %>
        </div>
        <div class="media-body">
        <%= @tweet.user.name %>投稿日時：<%= @tweet.created_at.strftime('(%Y/%m/%d %H:%M)') %>
        <p class="text-muted">
          <%= @tweet.content %>
          </p>



        <div>
         <% if current_user.favorites.find_by(tweet_id: @tweet.id) %>
         <%= link_to 'お気に入り！を取り消す', unlike_path(@tweet.id), method: :delete %>
         <% else %>
         <%= link_to 'お気に入り！', like_path(@tweet.id), method: :post %>
         <% end %>
        </div>

        <div>
          <%= render 'reply' %>
        </div>


        </div>
      </div>
    </div>
  </div>

</div>



















